body,html{
	margin:0px;
	font-size: 9pt;

}
header{
	background:url(../images/top_bg.jpg) repeat-x;
	height:92px;
	margin:0;
	padding:0;
	width:899px;
}
#search{
	text-align:center;
	margin:0;
	padding-top:23px;
	width:550px;
	float:right;
}
nav{
	background:url(../images/navigation_bg.gif) repeat-x;
	height:35px;
	line-height:35px;
	font-size:12pt;
	margin:0;
	padding:0px;
	width:899px;
	color:#7F1424;
	background-color: red;
}
footer{
	text-align:center;
	padding-top:10px;
	padding-bottom:1px;
	font-size:9pt;
	color:#6D6D6D;
	width:899px;
	background-color:#F1F2EF;
}
footer ul{
	list-style:none;
	line-height:25px;
}

a:hover {
	font-size:11pt;
	font-weight:bold;
}
a {
	text-decoration: none;
	color:#FFFFFF;
	font-size:11pt;
	font-weight:bold;
}
#box{
	margin: 0px auto auto auto;
	width:899px;
	clear:both;
}
ul{
	margin: 0px;
	list-style: none;
	text-align: center;
}